@charset "utf-8";

.test {
  background-color: $background;
  font-size: $fontSize;
  font-size: \$fontSize;

  margin: $top $right $bottom $left;

  color: $color.main;
  border-left: 1px solid $color.sub;

  background-image: url($pathto/img.png);
}

.test:before {
  content: "$char : ";
}

@media screen and (max-width: $maxWidth) and (min-width: $minWidth) {
  .test {}
}
