{
  fontSize: '1em'
  background: '#fff'

  top: '1em'
  right: '2em'
  bottom: '3em'
  left: '4em'

  color:
    base: '#f8f8f8'
    sub: '#CB4042'
    main: '#34bebc'

  pathto: '/path/to'

  char: '\\2713'

  widths: [
    '415px',
    '768px'
  ]
}
