@charset "utf-8";

.test {
  background-color: #fff;
  font-size: 1em;
  font-size: $fontSize;

  margin: 1em 2em 3em 4em;

  color: #34bebc;
  border-left: 1px solid #cb4042;

  background-image: url(/path/to/img.png);
}

.test:before {
  content: "\2713 : ";
}

@media screen and (min-width: 415px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: $widths[2]) {}
